@import '../../App/global.scss';

.home__works {
  background: $white;
  max-width: 100%;
  padding: 3em 1em;
  text-transform: uppercase;
  font-family: $rajdhani;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  &__item--figure {
    width: 100%;
  }
}
.works__button {
  border: 4px solid $black;
  background: none;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

}
.home__work__title {
  font: 700 50px $rajdhani;
  text-align: center;
  color: $black;
  transition: opacity .3s ease-in;
}

@media only screen and (min-width: 1080px) {
  .layout {
    max-width: 80%;
    flex-direction: row;

    &:nth-child(odd) {
      flex-direction: row-reverse; // 3
    }
  }
  .home__work__title {
    font: 700 114px $rajdhani;

  }
  .works__button {
    font-size: 40px;
  }
}


