@import '../App/global.scss';
@import '../Utils/styles/glitch.scss';


.loader__mount-appear {
  opacity: 0.01;
}
.loader__mount-appear.loader__mount-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.loader__mount-leave {
	opacity: 1;
}
.loader__mount-leave.loader__mount-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.loader__container {
	background: black;
  // background: #1F1F1F;
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 80vh;

}

.loader__title {
  font: 700 50px $rajdhani;
  text-transform: uppercase;
	position: relative;
	color: $color-title;
	animation-name: glitch-anim-text;
	animation-duration: $time-anim;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: calc($delay-anim + $time-anim * 0.2);

}
.loader__glitch {
	position: absolute;
	top: 0;
	left: 0;
	width: $glitch-width;
	height: $glitch-height;
	overflow: hidden;
}

.glitch__img {
	position: absolute;
	top: calc(-1 * 5px);
	left: calc(-1 * 10px);
	width: calc(100% + 10px * 2);
  height: calc(100% + 5px * 2);
  background-color: $blend-mode-1;
	background-size: contain;
	transform: translate3d(0,0,0);
	background-blend-mode: none;
}

.glitch__img:nth-child(n+2) {
  opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
  animation-duration: $time-anim;
	animation-delay: $delay-anim;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
  background-color: $blend-color-2;
	background-blend-mode: $blend-mode-2;
	animation-name: glitch-anim-1;
  background: url(../../../dist/assets/landing__hero.png) no-repeat 50% 50%;
}

.imgloaded .glitch__img:nth-child(3) {
	background-color: $blend-color-3;
	background-blend-mode: $blend-mode-3;
	animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
	background-color: $blend-color-4;
	background-blend-mode: $blend-mode-4;
	animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
	background-color: $blend-color-5;
	background-blend-mode: $blend-mode-5;
	animation-name: glitch-anim-flash;
}


@media only screen and (min-width: 1080px) {
	.loader__container {
		height: 100vh;
	}
	.loader__title {
		font: 700 200px $rajdhani;
	}
}